html{
    position: relative;
    min-height: 100%;
}

.list{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.media{
    width:100%;
    
    display:flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
}

i{
    margin-left:20px;
    margin-right:20px;
}

section{
    min-height: 100vh;
}

footer{
    display:flex;
    background-color: black;
    flex-direction: column;
    width:100%;


}

.flex_space{
    justify-content: space-between;
}

.flex_center{
    justify-content: center;
}

.footer_rows{
    display:flex;
    flex-direction: row;
}

footer p{
    margin:5px;
}

.media img{
    margin:5px;
    max-width: 60vh;
    
}


section{
    background-color: black;
    width:100%;
}
.gallery{
    
    display:flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color:white;
}

.news{
    
    display:flex;
    flex-direction: row ;
    flex-wrap: wrap;
    justify-content: center;
}


.news img{
    max-width:60vh;
    margin:2vh;
}


.gallery img{
    max-width:20vh;
    margin:2vh;
    


}
hr{
    margin-top:20px;
    margin-bottom:20px;
}

.center{
    text-align: center;
    padding-bottom:20px;
  
}

.header{
    margin-bottom:89vh;

    color:white;
}

.ghost_text{
    font-family: Cinzel-Regular;

}
.ghost_title{
    font-family: Cinzel-Regular;
    border-bottom:white 1px solid;
    margin-left:30%;
    margin-right:30%;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    margin:0px;
    background: url(../images/image_1.jpg) no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:white;
    
}
.body_overlay{
    background:rgba(0, 0, 0);
}

@font-face {
    font-family: "Cinzel-Regular";
    src: url(../fonts/Cinzel-Regular.otf);
}


















* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.desktop_menu {
    font-size: 1.5rem;
    position: sticky;
    top: 0;    
    display: flex;
    width: 100%;
    font-family: Cinzel-Regular;


}
nav.desktop_menu ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
    width: 100%;
}
nav.desktop_menu li {
    flex:0 1 auto;
    justify-content: start;
    margin-left:1vh;
    margin-right:1vh;
}
nav.desktop_menu li.righty {
    margin-left: auto;
   justify-content: right;
 
}
.righty {
    justify-content: right;
}
nav.desktop_menu li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
 
}
nav.desktop_menu li a:hover, nav.desktop_menu li a.active {
    border-width:4px;    
    border-top-style:solid;
    border-bottom-style:solid;
    border-top-color: white;
    -webkit-transition: all 0.2s ease;                  
    -moz-transition: all 0.2s ease;                 
    -o-transition: all 0.2s ease;   
    -ms-transition: all 0.2s ease;          
    transition: all 0.2s ease;
}

.mobile_menu{
    display: none;
}

.article{
    width: 600px;
    justify-content: center;
}
.cover{
    background: url("../images/ghost-north-american-tour.jpg") no-repeat center;
    width:100%;
    height:100%;
}


@media (max-width: 767px) { 

    /* Kopierat https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile */
    body:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        background: url("../images/image_1.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

    .media img{
        margin:5px;
        max-width: 45vh;
        
    }
    .news img{
        max-width:40vh;
        margin:2vh;
    }
    
    .article{
        width:400px;
        margin-left:10%;
        margin-right:10%;
    }
    
    nav.desktop_menu{
        display: none;
    }

    .mobile_menu{
        display: contents;
        background-color: black;;
        font-size: 1.5rem;
        position: sticky;
        top: 0;
        width: 100%;
    }
    .mobile_menu button{
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 1.2rem;
        width: 100%;
        justify-content: start;
        border: none;
        padding: 10px;
        font-family: Cinzel-Regular;
        cursor: pointer;
    }
    nav.menu {
        display: none;
    }
    button + nav.menu:active,
    button:focus + nav.menu {
        display: contents;
    }
    nav.menu ul{
        background-color:rgb(0, 0, 0, 0.8);
        padding: 10px;
        list-style: none;
    }
    nav.menu li a {
        color: white;
        text-decoration: none;
        font-family:Cinzel-Regular;
    }
   nav.menu ul li a:hover, ul li a.active {
        border-width:1px;    
        border-top-style:solid;
        border-bottom-style:solid;
        border-top-color: white;
        color: white;
    }

}



